@inherits LayoutComponentBase

<header class="header">
    <div class="header-column">
        <div class="header-sidebar"></div>
        <div class="header-content">
            <h1 class="header-logo">Color Palette</h1>
            <p class="short-description">
                Generate the color palette from a given image.
                <br />
                It is an open source cross-platform library by the nature of DotNet Core.
            </p>
            <a href="https://github.com/eyupalemdar/AlemdarLabs.ColorPalette" 
               class="github"
               target="_blank">
                <span class="github-label">
                    <svg class="github-logo" viewBox="0 0 512 512">
                        <path d="M256 0C115 0 0 115 0 256c0 113 73 209 175 243 13 2 18-5 18-12v-48c-64 12-81-16-86-30-3-7-15-30-26-36-9-5-22-17 0-17 20 0 35 19 39 26 23 39 60 28 75 21 2-17 9-28 16-34-57-6-116-28-116-126 0-28 10-51 26-69-3-6-11-33 3-68 0 0 21-7 70 26 20-6 42-9 64-9s43 3 64 9c49-33 70-26 70-26 14 35 5 61 3 68 16 18 26 41 26 69 0 98-60 120-117 126 9 8 17 23 17 47v70c0 7 5 15 18 12 100-33 173-129 173-242C512 115 397 0 256 0z"></path>
                    </svg>
                    Github
                </span>
                <span class="github-count">
                    <svg class="github-star" viewBox="0 0 896 1024">
                        <path d="M896 384l-313-41L448 64 313 343 0 384l230 208L171 895l277-149 277 148L665 593 896 384z"></path>
                    </svg>
                    <span>0</span>
                </span>
            </a>
        </div>
    </div>
</header>
<div class="container h-100 w-100">
    @Body
</div>
