:root {
    --color: #000;
    --bg-color: #f9f9f9;
    --hover-bg-color: #e9e9e9;
    --primary-color: #e66622;
    --muted-color: #999;
    --link-color: #17f;
    --code-color: var(--primary-color);
    --code-bg-color: #fff;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --code-font: Menlo, Consolas, Monaco, Lucida Console, monospace;
    --code-font-size: 0.75rem;
    --bold: 700;
    --x-bold: 900;
    --line-height: 1.5em;
    --line-height-heading: 1.3em;
    --text-transform-heading: uppercase;
    --border-color: #000;
    --border-color-light: #ccc;
    --border-radius: 6px;
    --border-radius-large: 8px;
    --border-radius-xl: 12px;
    --page-width: 56rem;
    --sm-screen: 720px;
}

body,
input,
button,
select,
textarea {
    font-family: var(--font);
    font-size: 1rem;
    line-height: var(--line-height);
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
    font-weight: var(--bold);
    letter-spacing: -0.01em;
    word-spacing: 0.01em;
}

h1 {
    font-size: 4rem;
    line-height: 1em;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    font-weight: var(--x-bold);
}


h2 {
    margin-top: 24px;
    font-size: 1.75rem;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    text-align: center;
    line-height: var(--line-height-heading);
}

@media (min-width: 720px) {
    h1 {
        font-size: 5rem;
    }

    h2,
    h3 {
        text-align: left;
    }

    h3 {
        text-align: left;
    }
}
