/* * * * * * * * * *
 * Custom Scrollbar
 * * * * * * * * * */
.fd-scrollbar {
    overflow-y: scroll;
}

    .fd-scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(191,191,191,.7);
        background-color: rgba(233, 233, 233, .7);
        box-shadow: 0 0 0 1px transparent;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .fd-scrollbar::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(191,191,191,.7);
        box-shadow: 0 0 0 1px transparent;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .fd-scrollbar::-webkit-scrollbar-thumb {
        background-color: var(--fd-primary-color);
        border: 2px solid var(--fd-primary-color);
        box-shadow: 0 0 0 1px transparent;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
